* {

    padding: 0px;
    margin: 0px;
    font-family: Century Gothic;


}

.logo {

    position: absolute;
    min-width: 160px;
    max-width: 20%;
    height: 120px;
    background: #c1272d;
    margin-left:7%;
    overflow: hidden;
    object-fit: cover;
    display: grid;
    justify-content: center;
    align-items: center;

}

.sparkin img {
    margin-top: 1em;
    margin-left: 10%;
    margin-bottom: 1em;

}

body {
    background: linear-gradient(to bottom, #333333, #c1272d);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
}

#contenedor {
    display: flex;
    padding: 0px;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    flex-wrap: wrap;
}

#contenedor div {


    height: 800px;

    margin: 1%;
    text-align: center;
    flex: 1;
    min-width: 400px;

}

.btn {

    margin-top: 130px;
    min-width: 300px;
    max-width: 400px;
    height: 60px;
    font-size: xx-large;
    color: white;
    font-weight: bold;

}

.progress{
height: 25px;
margin: 2%;
margin-left: 15%;
margin-right: 15%;


}

h1{
    margin: 5%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
    color: white;
    font-weight: bold;
}

#carouselExampleIndicators{

    overflow: hidden;
    object-fit: cover;
    display: grid;
    justify-content: center;
    align-items: center;
}