body{
    background: linear-gradient(to bottom, #333333,#c1272d);
    background-repeat: no-repeat;
    height: 1080px;
    width: 1920px;
    background-attachment: fixed;
}

.nametag{

    height: 30%;
    width: 20%;
    background-color: black;
    border-radius: 1em;
}